Body {
    background-image: url(kwak2.jpg)
}
    
LI {
     font-size: 30px;
}
#style1{
    text-shadow: 5px 5px lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-align:center;
    margin-top:0px;
    margin-bottom:100px;    
    font-size: 70px;
    color:darkblue;
}
#style2:hover{
     text-shadow: 5px 5px lightblue;
     background-color:black;
     font-size:50px;
     border:10px solid;
     width:98%;     
     border-color:cornflowerblue;
     color:darkblue;
     text-align: center;
}

#style3:hover{
    background-color:cornflowerblue;
    font-family: monospace;
    list-style-type: circle;
    border:20px double;
    width:94%;
    border-color:black black black black;
    color:darkblue;
    
}
#style4:hover{
     text-shadow: 5px 5px lightblue;
     background-color: black;
     font-size:50px;
     border:10px solid;
     width:98%;
     border-color:cornflowerblue;
     color:darkblue;   
     text-align: center;
}

.style1:hover{
     text-shadow: 5px 5px lightblue;
     background-color: black;
     font-size:50px;
     border:10px double;
     width:98%;
     border-color:cornflowerblue;
     color:darkblue;
     text-align: center;
}
.style2:hover{
     background-color:cornflowerblue;
     font-family:monospace;
     list-style-type: circle;
     border:20px double;
     width:94%;
     border-color:black black black black;
     color:darkblue;
     
}
.style3:hover{
     text-shadow: 5px 5px lightblue;
     background-color:black;
     font-size:50px;
     border:10px solid;
     width: 98%;
     border-color:cornflowerblue;
     color:darkblue;
     text-align: center;
}
.style4:hover{
     background-color:cornflowerblue;
     font-family:monospace;
     list-style-type: square;
     border:20px double;
     width:94%;
     border-color:black black black black;
     color:darkblue;
}

.style5:hover{
     text-shadow: 5px 5px lightblue;
     background-color: black;
     font-size:50px;
     border:10px solid;
     width: 98%;
     border-color:cornflowerblue;
     color:darkblue;
     text-align: center;
}
.style6:hover{
     background-color:cornflowerblue;
     font-family:monospace;
     list-style-type: square;
     border:20px double;
     width:94%;
     border-color:black black black black;
     color:darkblue;
}

.style7{
     box-shadow: 10px 10px 10px cornflowerblue,10px 10px 10px cornflowerblue;
     font-family:cursive;
     list-style-type: square;
     border:10px double;
     width:400px;
     height:150px;
     overflow:scroll;
     border-color:black black black black;
     color:darkblue;
     
}
.style8:hover{
     background-color:cornflowerblue;
     font-family:monospace;
     list-style-type: square;
     border:20px double;
     width:94%;
     border-color:black black black black;
     color:darkblue;
}
.con:hover{
     text-shadow: 5px 5px lightblue;
     background-color: black;
     font-size:50px;
     border:10px solid;
     width:98%;
     border-color:cornflowerblue;
     color:darkblue;   
     text-align: center;
}
.contribute:hover{
     background-color:cornflowerblue;
     font-family:monospace;
     list-style-type: square;
     border:20px double;
     width:94%;
     border-color:black black black black;
     color:darkblue;
}
.im1{
    float: right;
    vertical-align: baseline;
}
.m1{
    box-shadow: 6px 6px lightblue;
    position: relative;
    bottom: 200px;
    left: 450px;
    z-index: 2;
    
}
.m2{
    box-shadow: 5px 5px yellow;
    position: relative;
    bottom: 210px;
    left: 250px;
}
.m3{
    box-shadow:4px 4px violet;
    position: relative;
    bottom: 215px;
    left: 10px;
    z-index: 1;
}
.fb:hover{
    background-color: aqua;
}